# Flask
SECRET_KEY=your_flask_secret_key_here

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# JWT
JWT_SECRET_KEY=your_jwt_secret_key_here

# OpenAI
OPENAI_API=your_openai_api_key_here

# Pinecone
PINECONE_API=your_pinecone_api_key_here
